body {
    background-color: #000;
    color: white;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity))*1deg)) translateZ(550px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.banner .content h1 {
    font-size: 16em;
    line-height: 1em;
    color: #33c75b;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #27d489;
    color: transparent;
}

.banner .content .author {
    text-align: center;
    max-width: 200px;
    font-size: 2em;
}

.banner .content h2 {
    font-size: 3em;

}

.banner .content .model {
    background-image: url('https: //cdn.imweb.me/thumbnail/20240720/e3e2d65f7e01b.png');
    width: 100%;
    height: 75vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}


h2 {
    position: relative;
    font-size: 8vw;
    color: #252839;
    -webkit-text-stroke: 0.08vw #383d52;
    text-transform: uppercase;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #33c75b;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 1px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}


@keyframes animate {

    0% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}